*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

@font-face {
	font-family: NikkyouSans-B6aV;
  src: url('/fonts/NikkyouSans-B6aV.ttf');
}

@font-face {
	font-family: fontopoFONTOPO-Regular;
  src: url('/fonts/fontopoFONTOPO-Regular.otf');
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  margin: 30px auto 0;
  text-align: center;
  background-color: black;
  font-family: "游ゴシック体","メイリオ",Meiryo,Arial,"Yu Gothic",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN";
  max-width: 540px;
  min-height: 100vh;
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (max-width:768px) { 
  .layout {
    padding-bottom: 354px;
  }
}

@media screen and (min-width:768px) { 
  .layout {
    padding-bottom: 464px;
  }
}

.container {
  color: white;
}

.box {
  padding: 20px;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

a.btn-solid-gold {
  color: #b1921b;
  border-right: 4px solid #cea82c;
  border-bottom: 10px solid #987c1e;
  border-left: 4px solid #ffed8b;
  border-radius: 0;
  background: -webkit-gradient(linear, right top, left top, from(#ffd75b), color-stop(30%, #fff5a0), color-stop(40%, #fffabe), color-stop(50%, #ffffdb), color-stop(70%, #fff5a0), to(#fdd456));
  background: -webkit-linear-gradient(right, #ffd75b 0%, #fff5a0 30%, #fffabe 40%, #ffffdb 50%, #fff5a0 70%, #fdd456 100%);
  background: linear-gradient(-90deg, #ffd75b 0%, #fff5a0 30%, #fffabe 40%, #ffffdb 50%, white5a0 70%, #fdd456 100%);
  text-shadow: -1px -1px 1px #ffffd9;
}

a.btn-solid-gold:hover {
  margin-top: 3px;
  color: #b1921b;
  border-right: 4px solid #cea82c;
  border-bottom: 7px solid #987c1e;
  border-left: 4px solid #ffed8b;
}

.speech-bubble {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 17px 10px;
  width: 80%;
  font-size: 16px;
  background: #eba404;
}

.speech-bubble:before {
	content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #eba404;
}

/* TOP */
.top-title {
  font-family: NikkyouSans-B6aV;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px red, 0 0 70px red, 0 0 80px red, 0 0 100px red, 0 0 150px red;
}

.top-title-link {
  color: white;
  text-decoration: none;
}

.top-description {
  font-size: 1.4rem;
}

/* typing */
.typing-title {
  font-family: NikkyouSans-B6aV;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px orange, 0 0 70px orange, 0 0 80px orange, 0 0 100px orange, 0 0 150px orange;
}

#kana {
  font-size: 30px;
  letter-spacing: .1em;
  font-family: fontopoFONTOPO-Regular;
}

#target {
  font-size: 48px;
  letter-spacing: .1em;
  font-family: fontopoFONTOPO-Regular;
  word-wrap: break-word;
}

.text-small {
  font-size: 20px;
}

#result {
  font-size: 24px;
}

/* result */
.result-title {
  font-family: NikkyouSans-B6aV;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px fuchsia, 0 0 70px fuchsia, 0 0 80px fuchsia, 0 0 100px fuchsia, 0 0 150px fuchsia;
}

.result-description {
  font-size: 16px;
}

table {
  font-family: NikkyouSans-B6aV;
}

table td {
  padding: .5rem;
  border: 2px solid white;
}

.table-top {
  width: 80%;
  margin: 0 auto;
  font-size: 2rem;
}

.table-top td {
  color: red;
}

.table-sub {
  width: 80%;
  margin: 0 auto;
  font-size: 2rem;
}

.table-sub td {
  color: blue;
}

.table-name {
  color: yellow;
}

.result-twitter {
  display: inline-block;
  text-align: center;
}

input {
  padding: 5px;
  border: 1px solid #ccc;
}

.input-submit {
  border: none;
  padding: 3px 10px;
  background-color: #eba404;
  color: #fff;
  cursor: pointer;
}

.result-return-top {
  margin-top: 50px;
}

/* footer */
footer {
  position: absolute;
  bottom: 0;
}

.footer-link{
  color: white;
  font-size: 1.1rem;
  margin: 10px;
  text-decoration: none;
}

.privacy-policy,
.contact {
  color: white;
  font-size: 1.2rem;
  line-height: 2.4rem;
  text-align: left;
}
